.header-bar {
  box-sizing: border-box;
  position:relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(75, 75, 75, 0.467);
  align-items: center;
  margin-bottom: 0;
}

.header-bar > li {
  list-style: none;
}

.loc-header {
  margin-left: 1rem;
}
.loc-header > header {
  font-size: 2rem;
}
.loc-status {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.loc-status > div {
  width: 10px;
  height: 10px;
  background-color: lime;
  border-radius: 100px;
}


.search-form > input{
  position:absolute;
  top:43px;
  right:15px;
  margin-right:4rem;
  width:400px;
  height:50px;
  background-color:rgba(128, 128, 128, 0.172);
  border-radius:50px 50px;
  box-shadow:0 0 5px grey;
  border:0;
  font-size:1.5rem;
  padding-left:20px;
}

.search-form > button{
  position: absolute;
  right:65px;
  top:24px;
  width:50px;
  padding:10px;
  margin:20px;
  border-radius:0 50% 50% 0;
  border:0;
}
.search-form > button > svg{
  width:1.5rem;
  height:1.5rem;
  
}

::placeholder{
  color:rgba(109, 109, 109, 0.549);
}


.bookmark-button{
  position:relative;
  display:flex;
  align-items:center;
  justify-content: center;
  width:80px;
  height:80px;
  border-radius:50%;
  border:1px solid lightgrey;
}

.bookmark-button::before{
  content:'';
  right:4.5px;
  top:5px;
  position:absolute;
  background-color:rgba(128, 128, 128, 0.213);
  width:70px;
  height:70px;
  border-radius: 50%;
}

.actions-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:77%;
}

.bookmark-active{
  border:1px solid rgb(125,39,255) !important;
}

.bookmark-active > svg{
  color:black !important;
}
.bookmark-active::before{
  background-color: rgba(76, 0, 130, 0.652)!important;
}
